<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Gamedev Canvas Workshop</title>
   <link rel="stylesheet" href="./css/main.css">
   <style>
       canvas { background-image: url('../img/background.png'); display: block;  }
   </style>
   <script src="lib/jquery.js"></script>
   <script src="src/game.js"></script>
   <script src="src/collisionLogic.js"></script>
   <script src="src/player.js"></script>
   <script src="src/render.js"></script>
   <script src="src/collisionBox.js"></script>
   <script src="src/wrapCanvasText.js"></script>
   <script src="src/dialogueBox.js"></script>
   <script src="src/npc.js"></script>
   <script src="src/script.js"></script>
   <script src="src/statsBar.js"></script>
   <script src="src/actionPoints.js"></script>
   <script src="src/energyLevel.js"></script>
   <script src="src/projectScore.js"></script>
   <script src="src/cycle.js"></script>
   <script src="src/game.js"></script>
</head>
<body>


  <button id="playButton" type="button" class="myButton">How to Play</button>
  <button id="gotItButton" type="button" class="myButton">Got it!</button>
  <br>
  <a href="/" id="restartButton" class="myButton">Restart</a>


<div id="rules">
  <ul>
  <li>Choose to visit a workstation, speak to a coach or meditate the Chief Elation Officer.</li>
  <li>Plan your day carefully, each move costs 1 action point.</li>
  <li>Depending on your choice, your energy could go up or down.</li>
  <li>When speaking to the CEO or a coach, press space bar to progress through dialogue.</li>
  <li>Press 'Y' or 'N' to make a choice.</li>
  <li>Your action points and/or energy levels will be effected based on these decisions.</li>
  <li>Complete your time at Codecraft without all your energy being depleted or be banished to the fourth floor for all eternity.</li>
  <li>Your progress througout the game determines what job you end up with.</li>
</ul>
</div>
<canvas id="myCanvas" width="640" height="736"></canvas>

</body>
</html>
