<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Codecraft</title>
   <link rel="stylesheet" href="./css/game.css">

   <script src="lib/jquery.js"></script>
   <script src="src/game.js"></script>
   <script src="src/collisionLogic.js"></script>
   <script src="src/player.js"></script>
   <script src="src/render.js"></script>
   <script src="src/collisionBox.js"></script>
   <script src="src/wrapCanvasText.js"></script>
   <script src="src/dialogueBox.js"></script>
   <script src="src/npc.js"></script>
   <script src="src/script.js"></script>
   <script src="src/statsBar.js"></script>
   <script src="src/actionPoints.js"></script>
   <script src="src/energyLevel.js"></script>
   <script src="src/projectScore.js"></script>
   <script src="src/cycle.js"></script>
   <script src="src/game.js"></script>
   <script src="src/move.js"></script>
</head>
<body>

<div id=buttons>
  <button id="playButton" type="button" class="myButton">Controls</button>
  <button id="gotItButton" type="button" class="myButton">Got it!</button>
  <button id="zoomButton" type="button" class="myButton">Optimise Zoom</button>
  <button id="rulesButton" type="button" class="myButton">Full Rules</button>
  <button id="homeButton" type="button" class="myButton">Home</button>
  <button id="restartButton" type="button" class="myButton">Restart</button>
</div>

<div id="controls">
  <p><strong>Movement:</strong><br>[W], [A], [S], [D] to move up, left, down, right.</p>
  <p><strong>Dialogue:</strong><br>[SPACEBAR] to progress dialogue.</p>
  <p><strong>Decisions:</strong><br>[Y] or [N] to confirm or decline action choices.</p>
  <p><strong>Progression:</strong><br>[X] when prompted to begin the next day.</p>
</div>
<div id="canvasContainer">
  <canvas id="myCanvas" width="640" height="736"></canvas>
</div>
</body>
</html>
