<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Gamedev Canvas Workshop</title>
   <link rel="stylesheet" href="./css/main.css">
   <style>
       canvas { background-image: url('../img/background.png'); display: block;  }
   </style>
   <script src="lib/jquery.js"></script>
   <script src="src/game.js"></script>
   <script src="src/collisionLogic.js"></script>
   <script src="src/player.js"></script>
   <script src="src/render.js"></script>
   <script src="src/collisionBox.js"></script>
   <script src="src/wrapCanvasText.js"></script>
   <script src="src/dialogueBox.js"></script>
   <script src="src/npc.js"></script>
   <script src="src/script.js"></script>
   <script src="src/statsBar.js"></script>
   <script src="src/actionPoints.js"></script>
   <script src="src/energyLevel.js"></script>
   <script src="src/projectScore.js"></script>
   <script src="src/cycle.js"></script>
   <script src="src/game.js"></script>
</head>
<body>


  <button id="playButton" type="button" class="myButton">Controls</button>
  <a id="RulesButton" href="/rules" class="myButton">Full Rules</a>
  <button id="gotItButton" type="button" class="myButton">Got it!</button>
  <br>
  <a href="/" id="restartButton" class="myButton">Restart</a>


<div id="rules">
  <ul>

  <li>Press [Up], [Down], [Left] or [Right] to move.</li>
  <li>Press the space bar to see more of what is being said.</li>
  <li>Press [Y] or [N] to accept the action.</li>
  <li>To start a new day, press [X].

</ul>
</div>
<canvas id="myCanvas" width="640" height="736"></canvas>

</body>
</html>
