<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/rules.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="rulesHeader">
      HOW TO PLAY CODECRAFT
    </div>
    <div id="fullRules">
      <ul>
      <li>Press [W], [A], [S], [D] to move (up, left, down, right).</li>
      <li>You can do the following:
        <ul>
          <li> Visit a workstation to do work, which improves your project quality.</li>
          <li> Speak to a coach to get project support (bestows project score bonus).</li>
          <li> Speak to the Chief Elation Officer to re-energise (bestows action point and energy level bonus).</li>
        </ul>
      <li>Plan your day carefully: every action you take costs action points.</li>
      <li>Depending on your choice, your energy could go up or down.</li>
      <li>When speaking to the CElO or a coach, press [SPACEBAR] to progress dialogue.</li>
      <li>Press [Y] or [N] to make decisions during choice-dialogue.</li>
      <li>Your energy levels will be effected based on these decisions.</li>
      <li>Once you've spent all your action points, press [X] to start a new day.</li>
      <li>Complete your time at Codecraft without all your energy being depleted or be banished to the fourth floor permanently.</li>
      <li>Your progress througout the game determines what job you end up with, the higher your energy level, the better the job offer.</li>
    </ul>

    <a id="playFromRules" href="/game" class="myButton">Play</a>

  </body>
</html>
