<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/rules.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="rulesHeader">
      HOW TO PLAY CODECRAFT
    </div>
    <div id="fullRules">
      <ul>
      <li>Press W, A, S and D to move.</li>
      <li>Choose to visit a workstation, speak to a coach or talk to the Chief Joy Officer.</li>
      <li>Plan your day carefully, each move costs 1 action point.</li>
      <li>Depending on your choice, your energy could go up or down.</li>
      <li>When speaking to the CJO or a coach, press space bar to see what they say next.</li>
      <li>Press 'Y' or 'N' to accept the action.</li>
      <li>Your energy levels will be effected based on these decisions.</li>
      <li>Once you've spent all your action points, press [x] to start a new day.</li>
      <li>Complete your time at Codecraft without all your energy being depleted or be banished to the fourth floor permanently.</li>
      <li>Your progress througout the game determines what job you end up with, the higher your energy level, the better the job offer.</li>
    </ul>

    <a id="playFromRules" href="/game" class="myButton">Play</a>

  </body>
</html>
