<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/rules.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="rulesHeader">
    HOW TO PLAY CODECRAFT
  </div>

  <div class="container">
    <div id="screenshot" class="flex-item">
      <img src="https://image.ibb.co/m7UvpS/Screen_Shot_2018_05_08_at_14_45_23.png" alt="Game">
    </div>
    <div id="fullRules" class="flex-item">
      <p>Your objective in Codecraft is help your player, Ada, to get the best possible job outcome. The higher her project quality, the better the job she will get. But just grinding by doing project work will not give the best outcome.</p>
      <p>You will need to strategically balance project work, getting help from a coach, and replenishing your energy levels.
      To complete these actions, you need to go to the assigned locations and confirm your choice. But bear in mind that every action you make will deplete your Action Points - even walking!</p>
      <ul>
        <li> Go to any workstation to do project work, which improves your Project Score (PS) but depletes your Energy Level (EL).</li>
        <li> Speak to the coach (Ned) to get project support, which provides a PS multiplier effect up until the end of the following day.</li>
        <li> Speak to the Chief Elation Officer (Lana) to re-energise, which will replenish some of your current EL and provide an Action Point (AP) bonus the next day.</li>
      </ul>
      <p>Once you run out of AP, the current day will end and the next will begin. This transition will also deplete your EL. If you run out of EL before the end of the game, you will Game Over.</p>
      <p>In the current version of the game, there are 5 days until the end of the game. If you survive, you will be awarded a job at the end, which is determined by your final PS.</p>
      <div id="buttons">
        <a id="home" href="/" class="myButton">Home</a>
        <a id="play" href="/game" class="myButton">Play</a>
      </div>
    </div>
  </div>
</body>

</html>
